python-dotenv # for loading .env file
faiss-cpu # for faiss
langchain_community # for community models
langchain # for langchain models
sentence_transformers # for sentence embeddings
transformers # for transformers models
langchain_huggingface # for huggingface models

